.playground {
  background: var(--themeBlue);
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
}
.box {
  display: grid;
  height: 400px;
  width: 400px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
  margin: 0 auto;
}

.eachBox {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.highlight {
  background: rgba(255, 255, 255, 0.8) !important;
}

.red {
  background: rgba(219, 49, 49, 0.8) !important;
}
