.topbar {
  display: fixed;
  width: 100%;
  height: 45px;
  line-height: 45px;
  z-index: 1;
  box-sizing: border-box;
  background: white;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.4);

  .container {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #666;
    transition: all 0.3s ease;
    padding: 0 10px;
    box-sizing: border-box;
    width: fit-content;
    background: white;
    font-size: 18px;

    svg {
      display: inline-block;
      width: 13px;
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}

@media (min-width: 768px) {
  .topbar {
    a {
      &:hover {
        background: #ccc;
        color: var(--themeBlue);
      }
    }
  }
}
