@keyframes turnover {
  0% {
    transform: rotate3d(1, 0, 0, 0deg);
  }

  20% {
    background: white;
    transform: rotate3d(1, 0, 0, 180deg);
  }

  80% {
    background: white;
    transform: rotate3d(1, 0, 0, 180deg);
  }

  100% {
    transform: rotate3d(1, 0, 0, 0deg);
  }
}

@keyframes turnback {
  0% {
    transform: rotate3d(1, 0, 0, 0deg);
  }

  100% {
    transform: rotate3d(1, 0, 0, 180deg);
    background: white;
  }
}

@keyframes shaking {
  0% {
    transform: translateX(0);
  }

  5% {
    transform: translateX(-6px);
  }

  10% {
    transform: translateX(0px);
  }

  15% {
    transform: translateX(6px);
  }

  20% {
    transform: translateX(0px);
  }

  25% {
    transform: translateX(-5px);
  }

  30% {
    transform: translateX(0px);
  }

  35% {
    transform: translateX(5px);
  }

  40% {
    transform: translateX(0px);
  }

  45% {
    transform: translateX(-4px);
  }

  50% {
    transform: translateX(0px);
  }

  55% {
    transform: translateX(4px);
  }

  60% {
    transform: translateX(0px);
  }

  65% {
    transform: translateX(-3px);
  }

  70% {
    transform: translateX(0px);
  }

  75% {
    transform: translateX(3px);
  }

  80% {
    transform: translateX(0px);
  }

  85% {
    transform: translateX(-2px);
  }

  90% {
    transform: translateX(0px);
  }

  95% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(0px);
  }
}

.playground {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  padding-top: 30px;
  box-sizing: border-box;
}

.gameStatus {
  color: rgba(255, 255, 255, 0.6);
  font-size: 26px;

  i {
    font-style: normal;
    color: white;
    font-weight: 550;
    margin-left: 5px;
    font-size: 32px;

    &:first-of-type {
      margin-right: 20px;
    }
  }

  svg {
    width: 25px;
    margin-right: 7px;
    transform: translateY(2px);
  }

  .alive {
    color: white !important;

    svg {
      color: white !important;
    }
  }
}

.box {
  display: grid;
  gap: 10px;
  width: 470px;
  height: 470px;
  margin: 0 auto;
  padding: 30px;
  box-sizing: border-box;
}

.eachBox {
  background: rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 15px;
  transition: all 0.3 ease;
  cursor: pointer;
}

.whiteBox {
  background: white;
}

.turnback {
  animation: turnback 0.4s ease;
}

.red {
  background: rgba(219, 49, 49, 0.8) !important;
}

.highlight {
  background: rgba(255, 255, 255, 0.6) !important;
}

.wrongBox {
  background: rgba(0, 0, 0, 0.5);
}

.turnover {
  animation: turnover 1s ease;
  // background: blue;
}

.shake {
  animation: shaking 0.3s ease;
}

.result {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  svg {
    margin-top: 50px;
  }

  h1 {
    font-size: 56px;
    color: white;
    margin-top: 50px;
    margin-bottom: 70px;
  }
}

@media (max-width: 768px) {
  .gameStatus {
    margin-top: 15vw;
  }

  .box {
    width: 100vw;
    height: 100vw;
    margin-top: 8vw;
  }

  .result {
    svg {
      margin-top: 30vw;
    }
  }
}
